.about {
  border-top: 1px solid white;
  &-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
  }
  &-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
  &-container {
    margin: 4rem auto;
  }
  &-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__micro {
      margin: 10px;
    }
  }
}

img {
  border-radius: 5px;
}

span {
  font-size: 19px;
  padding: 1rem 0;
  text-align: justify;
}

.cv {
  position: relative;
  top: 37px;
  display: flex;
  justify-content: center;
  font-size: 26px;
  padding-bottom: 40px;
}

.img--size {
  padding-bottom: 2rem;
}

.img--tooltip:hover .img--tooltiptext {
  visibility: visible;
  width: 70px;
  text-align: center;
}

a {
  color: black;
  cursor: pointer;
  margin: unset;
  font-size: 20px;
}

a:hover {
  font-weight: bold;
}

hr {
  width: 40%;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(white),
    to(white),
    color-stop(50%, black)
  );
}

.icon {
  padding: 3px 0 3px 10px !important;
}

@media only screen and (max-width: 429px) {
  .img {
    &--size {
      width: 300px;
    }
  }
  .about-images__micro {
    width: 250px;
  }
  .micro {
    margin-top: 156px !important;
  }
}

@media screen and (min-width: 430px) and (max-width: 700px) {
  .img {
    &--size {
      width: 400px;
    }
  }
  .about-images__micro {
    width: 300px;
  }
  .micro {
    margin-top: 180px !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .about-images__micro {
    width: 310px;
  }
  .img--size {
    width: 600px;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .about-images__micro {
    width: 350px;
  }
  .img--size {
    width: 620px;
    padding-bottom: 4rem;
  }
  .micro {
    margin-top: 210px !important;
  }
}

@media only screen and (min-width: 1280px) {
  span {
    font-size: 21px;
  }
  .about {
    &-content {
      max-width: 850px;
    }
  }
  .about-images__micro {
    width: 350px;
  }
  .img--size {
    width: 620px;
    padding-bottom: 4rem;
  }
  .micro {
    margin-top: 210px !important;
  }
}
