h1 {
    display: flex;
    justify-content: center;
    padding: 3rem 0 2rem 0;
    margin-top: 3rem;
}

a {
    margin: unset;
    color: black;
    cursor: pointer;
    margin-right: 1rem;
}

.project {
    margin: unset;
    padding: unset;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 19px;
}

.about {
    border-top: 1px solid white;
    background-color: #7d7d7d;
    color: white;
}

img {
    border-radius: 5px;
    padding-bottom: 2rem;
}

.text {
    padding: unset;
}

span {
    padding: unset;
}

.content-projects {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-size: 19px;
}

.gala {
    border-radius: 5px;
}

@media screen and (max-width: 400px){
    .content {
        padding: 1rem 1rem !important;
    }
    .content-projects {
        padding: 1rem 1rem;
    }
    span {
        margin: 30px 0 10px 15px;
    }
    img {
        width: 250px;
    }
    .about {
        padding: 4rem 3rem 5rem 3rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px){

    img {
        width: 300px;
    }
    .content {
        padding: 1rem 3rem !important;
    }
    .content-projects {
        padding: 1rem 3rem;
    }
    span {
        display: flex;
        margin-top: 2rem;
    }
    .about {
        padding: 6rem 3rem 9rem 3rem;
    }
    .gala {
        width: 400px;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 700px) and (max-width: 2000px){

    span {
        padding: 25px;
    }
    .content {
        padding: 1rem 5rem;
    }
    .content-projects {
        padding: 1rem 4rem;
    }
    img {
        width: 310px;
    }
    .about {
        padding: 6rem 3rem 9rem 3rem;
    }
    .gala {
        width: 600px;
        padding-bottom: 3rem;
    }
}


