.contact {
  border-top: 1px solid white;
  background-color: #706f6f;
  height: -webkit-fill-available;
  padding: 5rem 0 10rem 0;
  color: white;
  margin: 0 auto;
  &-title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 24px;
    margin: unset;
  }
  &-icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  &-content {
    display: flex;
    justify-content: center;
  }
}
span {
  justify-content: center;
  font-size: unset;
  display: flex;
  padding: unset;
  margin: unset;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .contact-icons {
    padding-top: unset;
  }
}

@media screen and (min-width: 700px) {
  .contact-icons {
    padding-top: 20px;
  }
}
