.contact {
  border-top: 1px solid white;
  background-color: #706f6f;
  height: -webkit-fill-available;
  padding-bottom: 10rem;
  &-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: unset;
  }
  &-container {
    width: 80%;
    margin: 4rem auto;
  }
}