.footer {
    background-color: #3c3c3c !important;
    border-top: 1px solid white;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.fa-paw {
    padding-left: 10px;
}