body {
  font-family: 'Cambay', sans-serif;
  margin: unset; 
}


.home {
  background-image: url(./img/vineyard3.jpg);
  background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    min-height: 100%;
    padding-bottom: 2em;
    height: -webkit-fill-available;

}

h1 {
  display: flex;
  padding-top: 6rem;
  justify-content: center;
}

#cursor {
  border-left: .1em solid black;
  animation: blink .7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.main {
  background-color:blue;
}

.goToMain {
  position: fixed;
bottom: 20px;
right: 60px;
}