

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 400px) {
  .home {
    height: -webkit-fill-available;
    color: rgba(255, 255, 255, 0.938);
    background-image: url("../../img/computer.jpg");
    background-size: cover;
    opacity: 0.91;
    filter: grayscale(57%);
    height: 40rem;
  }
  .home-heading {
    display: flex;
    padding: 10rem 0 1rem 3rem;
    justify-content: left;
    font-size: 2rem;
  }

  .home-text {
    display: flex;
    justify-content: left;
    font-size: 1.8rem;
    padding: 0 3rem;
  }

  .home-cursor {
    border-left: 0.1em solid black;
    animation: blink 0.7s steps(1) infinite;
  }

  span {
    padding: unset;
    margin: 10px 0 10px 15px;
  }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .home {
    height: -webkit-fill-available;
    color: rgba(255, 255, 255, 0.938);
    background-image: url("../../img/computer.jpg");
    background-size: cover;
    opacity: 0.91;
    filter: grayscale(57%);
    height: 45rem;
  }
  .home-heading {
    display: flex;
    padding: 13rem 0 3rem 4rem;
    justify-content: left;
    font-size: 3rem;
  }

  .home-text {
    display: flex;
    justify-content: left;
    font-size: 2.5rem;
    padding: 0 4rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .home {
    height: -webkit-fill-available;
    color: rgba(255, 255, 255, 0.938);
    background-image: url("../../img/computer.jpg");
    background-size: cover;
    opacity: 0.91;
    filter: grayscale(57%);
    height: 45rem;
  }
  .home-heading {
    display: flex;
    padding: 10rem 0 2rem 9rem;
    justify-content: left;
    font-size: 4rem;
  }
  .home-text {
    display: flex;
    justify-content: left;
    font-size: 3.5rem;
    margin-left: 9rem;
  }

  .home-cursor {
    border-left: 0.1em solid black;
    animation: blink 0.7s steps(1) infinite;
    position: relative;
  }
}

@media screen and (min-width: 900px) and (max-width: 2000px) {
  .home {
    height: -webkit-fill-available;
    color: rgba(255, 255, 255, 0.938);
    background-image: url("../../img/computer.jpg");
    background-size: cover;
    opacity: 0.91;
    filter: grayscale(57%);
    height: 45rem;
  }
  .home-heading {
    display: flex;
    padding: 11rem 0 2rem 16rem;
    justify-content: left;
    font-size: 5rem;
  }

  .home-text {
    display: flex;
    justify-content: left;
    font-size: 3.9rem;
    margin-left: 16rem;
  }

  .home-cursor {
    border-left: 0.1em solid black;
    animation: blink 0.7s steps(1) infinite;
    position: relative;
  }
}
